
@{
    ViewBag.Title = "Issue";
}

<h1 class="yuuko-title">Issue</h1>
<div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>